{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/images/hotel.jpg" alt="Logo" width="100" height="80" class="d-inline-block align-text-top">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('render_naslovna')}}">POČETNA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('render_sobe') }}">SMEŠTAJ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('render_onama')}}">O NAMA</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('render_kontakt')}}">KONTAKT</a>
                </li>
                <li>
                    <a href="{{ url_for('render_rezervacija')}}" role="button" class="btn btn-outline-secondary">REZERVIŠI ODMAH</a>
                </li>
                <li class="nav-item" class="justify-content-end">
                    {% if rola %}
                    <li class="nav-item">
                        <a href="{{ url_for('odjava') }}" class="btn btn-outline-secondary">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
                {% endif %}
            
            </li>
            </ul>
        </div>
    </div>
</nav>

<ul class="nav justify-content-center">
  
    <li class="nav-item">
        <i class="fa-regular fa-envelope"></i>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="mailto:info@hotel.com">info@hotel.com</a>
      </li>
      <li class="nav-item">
        <i class="fa-solid fa-phone"></i>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" href="tel:+38166576344">066576344</a>
      </li>
  </ul>
  <hr>

  <figure class="text-center">
  <h1 class="display-4"><strong>KONTAKTIRAJTE NAS</strong></h1>
  </figure>
  <hr>
 

    <div class="row justify-content-center">
        <div class="col-lg-6 col-xs-12">
  <p class="text-center">
    HOTEL THE BEES </p>
    <p class="text-center"> Adresa: Knjazevacka 4, Niš </p> 
    <p class="text-center">  <a class="nav-link" href="tel:+38166576344">Broj telefona: 066576344</a> </p>
    <p class="text-center"> <a class="nav-link" href="mailto:info@hotel.com">Mail: info@hotel.com</a>
</p>
</div>
</div>

{% endblock %}